@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #cdfffc;
}

.title{
    width: 120px;
    margin: 10px 0 70px 0;
    color: #fa6b24;
    font-weight: 700;
    text-align: center;
}

.parrafo{
    font-size: 25px;
    margin: 0 0 10px 0;
    font-weight: 300;
}

.form-container{
    text-align: center;
}

.input{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
}




.btn-jugar:hover{
    background-color:rgb(255, 87, 127,0.7);
}

.btn-jugar{
    height: 40px;
    background-color:#ff577f;
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    margin: 0 0 30px 0;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
}


.resultado{
    text-align: center;
    margin: 45px 0 0 0;
    font-size: 30px;
    background-color:#ffc764;
    padding: 30px;
    border-radius: 5px;
}

.social-media{
	align-self: flex-end;
	position: absolute;
	bottom: 0;
}

.social-media a{
	text-decoration: none;
	color:black;
	font-size: 25px;
	margin: 10px 10px 0 0;

}


/* Estados */
.active{
    display: block;
}

.none{
    display: none;
}